@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #09090b;
  --foreground: #f4f4f5;
}

html,
body {
  height: 100%;
  background: var(--background);
  overflow: hidden;
  overscroll-behavior: none;
}
